/* fonts */
@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Titillium+Web:wght@400;600;700&display=swap');

/* custom cursor */
* {
  cursor: url("../assets/cursor/cursor_1.ico"), default;
}

*:active {
  cursor: url("../assets/cursor/cursor_2.ico"), default;
}

/* general */
body {
  background: url("../assets/bg/sepia-background.jpg") bottom/100% fixed no-repeat #dbd4c2;
}

@media (prefers-color-scheme: dark) {
  body {
    background: url("../assets/bg/sepia-background.jpg") bottom/100% fixed no-repeat #423F39;
  }

  /* dark mode tint */
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    z-index: -1;
  }
}

h1 {
  font-family: "McLaren", Helvetica, sans-serif;
}

h2 {
  font-family: "Titillium Web", Helvetica, sans-serif;
}

header {
  position: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

header>button {
  display: block;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.column {
  width: fit-content;
  position: center;
  justify-content: center;
}

.hide {
  display: none;
}

/* boss, arcane checklists*/
.genlist {
  display: grid;
  grid-gap: 10px;
  padding: 15px 15px 25px;
  height: fit-content;
  width: 314px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;

  position: center;
  background-color: gray;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px 36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset,
    rgba(255, 255, 255, 0.9) 0px 5px 5px 0px inset;
  border: 3px solid rgb(50, 50, 50);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.genlist>button {
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  padding: 1px 0px 1px 0px;
  border: none;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  image-rendering: pixelated;
}

.genlist>button:hover {
  background-color: white;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
}

.genlist>button>img {
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  -webkit-user-drag: none;
}

.gridheader {
  color: rgb(250, 250, 250);
  grid-column: 1 / -1;
  text-align: center;
  vertical-align: top;
  margin-top: 15px;
  margin-bottom: 15px;
}

#dailyboss {
  grid-template: 40px 66px 66px 66px 66px / 66px 66px 66px 66px;
}

#weeklyboss {
  grid-template: 40px 66px 66px 66px 66px 66px 66px / 66px 66px 66px 66px;
}

.bosslist>button {
  height: 67px;
  width: 66px;
  background-position: 0px 1px;
  border-radius: 6px;
  image-rendering: pixelated;
}

#daily_zak {
  background-image: url("../assets/bossicon/Zakum.png");
}

#daily_mag {
  background-image: url("../assets/bossicon/Magnus.png");
}

#daily_hilla {
  background-image: url("../assets/bossicon/Hilla.png");
}

#daily_ht {
  background-image: url("../assets/bossicon/Horntail.png");
}

#daily_pap {
  background-image: url("../assets/bossicon/Papulatus.png");
}

#daily_vl {
  background-image: url("../assets/bossicon/Von_Leon.png");
}

#daily_ark {
  background-image: url("../assets/bossicon/Arkarium.png");
}

#daily_pb {
  background-image: url("../assets/bossicon/Pink_Bean.png");
}

#daily_pierre {
  background-image: url("../assets/bossicon/Pierre.png");
}

#daily_vb {
  background-image: url("../assets/bossicon/Von_Bon.png");
}

#daily_cqueen {
  background-image: url("../assets/bossicon/Crimson_Queen.png");
}

#daily_vell {
  background-image: url("../assets/bossicon/Vellum.png");
}

#daily_ranmaru {
  background-image: url("../assets/bossicon/Mori_Ranmaru.png");
}

#daily_omnicln {
  background-image: url("../assets/bossicon/OMNI_CLN.png");
}

#daily_julietta {
  background-image: url("../assets/bossicon/Julietta.png");
}

#daily_gollux {
  background-image: url("../assets/bossicon/Gollux.png");
}

#weekly_hilla {
  background-image: url("../assets/bossicon/Hilla.png");
}

#weekly_pb {
  background-image: url("../assets/bossicon/Pink_Bean.png");
}

#weekly_cyg {
  background-image: url("../assets/bossicon/Cygnus.png");
}

#weekly_zak {
  background-image: url("../assets/bossicon/Zakum.png");
}

#weekly_pierre {
  background-image: url("../assets/bossicon/Pierre.png");
}

#weekly_vb {
  background-image: url("../assets/bossicon/Von_Bon.png");
}

#weekly_cqueen {
  background-image: url("../assets/bossicon/Crimson_Queen.png");
}

#weekly_vell {
  background-image: url("../assets/bossicon/Vellum.png");
}

#weekly_pno {
  background-image: url("../assets/bossicon/Princess_No.png");
}

#weekly_mag {
  background-image: url("../assets/bossicon/Magnus.png");
}

#weekly_pap {
  background-image: url("../assets/bossicon/Papulatus.png");
}

#weekly_akechi {
  background-image: url("../assets/bossicon/Akechi_Mitsuhide.png");
}

#weekly_lotus {
  background-image: url("../assets/bossicon/Lotus.png");
}

#weekly_damien {
  background-image: url("../assets/bossicon/Damien.png");
}

#weekly_slime {
  background-image: url("../assets/bossicon/Guardian_Angel_Slime.png");
}

#weekly_lucid {
  background-image: url("../assets/bossicon/Lucid.png");
}

#weekly_will {
  background-image: url("../assets/bossicon/Will.png");
}

#weekly_gloom {
  background-image: url("../assets/bossicon/Gloom.png");
}

#weekly_dnell {
  background-image: url("../assets/bossicon/Guard_Captain_Darknell.png");
}

#weekly_vhilla {
  background-image: url("../assets/bossicon/Verus_Hilla.png");
}

#weekly_seren {
  background-image: url("../assets/bossicon/Seren.png");
}

#weekly_kalos {
  background-image: url("../assets/bossicon/Kalos_the_Guardian.png");
}

#weekly_kaling {
  background-image: url("../assets/bossicon/Kaling.png");
}

#weekly_bmage {
  background-image: url("../assets/bossicon/Black_Mage.png");
}

.checked {
  opacity: 0.3;
}

.stamp {
  opacity: 0;
}

.arcane_symbol {
  image-rendering: pixelated;
}

#arcane {
  grid-template: 40px 73px / 121px 33px 121px;
}

#arcane>button {
  height: 73px;
  width: 121px;
  background-position: 1px 1px;
  border-radius: 10px;
  image-rendering: pixelated;
}

#arcane_vj1 {
  background-image: url("../assets/arcane/Vanishing_Journey.png");
}

#arcane_vj2 {
  background-image: url("../assets/arcane/Vanishing_Journey_Erda_Spectrum.png");
}

#arcane_chuchu1 {
  background-image: url("../assets/arcane/Chu_Chu_Island.png");
}

#arcane_chuchu2 {
  background-image: url("../assets/arcane/Chu_Chu_Island_Hungry_Muto.png");
}

#arcane_lach1 {
  background-image: url("../assets/arcane/Lachelein.png");
}

#arcane_lach2 {
  background-image: url("../assets/arcane/Lachelein_Dream_Defender.png");
}

#arcane_arcana1 {
  background-image: url("../assets/arcane/Arcana.png");
}

#arcane_arcana2 {
  background-image: url("../assets/arcane/Arcana_Spirit_Savior.png");
}

#arcane_morass1 {
  background-image: url("../assets/arcane/Morass.png");
}

#arcane_morass2 {
  background-image: url("../assets/arcane/Ranheim_Defense.png");
}

#arcane_esfera1 {
  background-image: url("../assets/arcane/Esfera.png");
}

#arcane_esfera2 {
  background-image: url("../assets/arcane/Esfera_Guardian.png");
}

/* daily/weekly quest window */
.gamewindow {
  height: fit-content;
  width: 344px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;

  position: center;
  background-color: gray;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px 36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset,
    rgba(255, 255, 255, 0.9) 0px 5px 5px 0px inset;
  border: 3px solid rgb(50, 50, 50);
  border-radius: 10px;
  justify-content: center;
}

.gameview {
  display: grid;
  width: 320px;
  position: center;
  background-color: gray;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset,
    rgba(255, 255, 255, 0.4) 0px 0px 5px 0px;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 10px;
  justify-content: left;
  align-items: flex-end;
}

#dailyview {
  height: 750px;
  background-image: url("../assets/bg/platform_0.png");
  grid-template-columns: 50% 50%;
  grid-template-rows: 180px 180px 180px 180px;
  grid-template-areas:
    "one two"
    "three four"
    "five six"
    "seven eight";
}

#weeklyview {
  height: 480px;
  background-image: url("../assets/bg/platform_1.png");
  grid-template-columns: 53px 53px 53px 53px 53px 53px;
  grid-template-rows: 240px 240px;
  grid-template-areas:
    "one one one two two two"
    "three three four four five five";
}

.npc {
  position: relative;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  image-rendering: pixelated;
}

.questbulb {
  position: relative;
  background-color: transparent;
  background-image: url("../assets/quest/quest_pending.gif");
  height: 44px;
  width: 44px;
  border: none;
  text-align: center;
  vertical-align: middle;
  image-rendering: pixelated;
}

#dailyview>.questbulb {
  top: -125px;
  left: 80px;
}

#weeklyview>.questbulb {
  position: relative;
  top: -145px;
  left: 50px;
}

#weeklyview>#bulb_guild,
#weeklyview>#bulb_dojo {
  position: relative;
  top: -135px;
  left: 80px;
}

.questbulb>img {
  position: relative;
  max-height: 25px;
  max-width: 28px;
  top: -3px;
  left: -2px;
}

.questbulb:hover img {
  top: -1px;
}

.turnedin {
  background-image: url("../assets/quest/quest_complete.png");
  opacity: 0.3;
  image-rendering: pixelated;
}

.turnedin>img {
  opacity: 0;
}

.fairybros {
  grid-area: one;
}

.legion {
  grid-area: two;
}

.ursus {
  grid-area: three;
}

.mapletour {
  grid-area: four;
}

.commerci {
  grid-area: five;
}

.monsterpark {
  grid-area: six;
}

.yugarden {
  grid-area: seven;
}

.phantomforest {
  grid-area: eight;
}

.guild {
  grid-area: one;
}

.dojo {
  grid-area: two;
}

.scrapyard {
  grid-area: three;
}

.worldtree {
  grid-area: four;
}

.kritias {
  grid-area: five;
}

#npc_fairybros {
  top: -44px;
  left: -13px;
}

#npc_legion {
  top: -43px;
  left: -2px;
}

#npc_ursus {
  top: -44px;
  left: 0px;
}

#npc_mapletour {
  top: -45px;
  left: -5px;
}

#npc_commerci {
  top: -44px;
  left: -8px;
}

#npc_monsterpark {
  top: -45px;
  left: -21px;
}

#npc_yugarden {
  top: -45px;
  left: -7px;
}

#npc_phantomforest {
  top: -41px;
  left: -29px;
}

#npc_guild {
  top: -50px;
  left: -10px;
}

#npc_dojo {
  top: -50px;
  left: -10px;
}

#npc_scrapyard {
  top: -50px;
  left: -10px;
}

#npc_worldtree {
  top: -50px;
  left: -10px;
}

#npc_kritias {
  top: -47px;
  left: -10px;
}

.caption {
  position: relative;
  font-family: "Arial";
  font-weight: 100;
  font-size: 14;
  color: palegoldenrod;
  background-color: rgba(0, 0, 0, 0.5);
  width: max-content;
  border-radius: 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
}

#dailyview .caption {
  top: 4px;
  left: -5px;
}

#weeklyview .caption {
  top: -2px;
  left: -10px;
}

/* DEV */
#showDev {
  position: sticky;
  color: white;
  font-size: 25px;
  height: 30px;
  width: 30px;
  position: center;
  background-color: gray;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px 36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset,
    rgba(255, 255, 255, 0.9) 0px 5px 5px 0px inset;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

#showDev span {
  position: relative;
  top: -4px;
}

#devButtons {
  display: none;
}